### Load necessary library:

In [1]:
import pandas as pd
import numpy as np

### Load the dataset and display the first 10 rows.

In [2]:
df=pd.read_csv(r"C:\Users\Gandharvi\Downloads\archive (1)\FaceBookDataSets.csv",header=0,index_col=0)
df.head(10)

,user_id,age,gender,account_created,country,num_friends,num_followers,posts_count,likes_received,comments_received,shares_count,profile_completeness,last_login,is_verified,language,device_type,account_type,engagement_rate,monthly_active,status
0,1,64.0,F,2023-06-06 18:51:33.092925,Canada,1321.0,7825.0,359,43116,48,4090,50,2025-03-03 18:51:33.149208,True,Chinese,Tablet,Business,37.63,True,Active
1,2,27.0,Other,2023-09-28 18:51:33.092970,Canada,2023.0,142.0,336,44869,1494,2741,78,2025-08-11 18:51:33.149229,False,Chinese,Tablet,Creator,74.51,True,Active
2,3,73.0,NaN,2018-11-10 18:51:33.092983,Canada,4731.0,9315.0,440,34858,9365,3251,66,2024-10-28 18:51:33.149237,False,English,Desktop,Business,48.11,True,Active
3,4,33.0,F,2019-10-24 18:51:33.092992,###,4512.0,NaN,314,43832,6467,21,25,2025-05-17 18:51:33.149243,True,Chinese,Mobile,Personal,45.80,True,Active
4,5,36.0,M,2025-06-19 18:51:33.093001,###,438.0,NaN,93,26981,9542,514,51,2025-09-23 18:51:33.149249,False,German,Tablet,Creator,35.85,True,Suspended
5,6,15.0,M,2024-06-18 18:51:33.093013,Brazil,164.0,383.0,216,45530,918,2798,50,2025-09-28 18:51:33.149255,False,English,Mobile,Business,4.91,False,Active
6,7,34.0,NaN,2023-02-04 18:51:33.093022,France,3337.0,1578.0,21,33866,350,3069,37,2024-10-27 18:51:33.149261,False,German,Desktop,Business,83.36,True,Active
7,8,65.0,Unknown,2022-12-22 18:51:33.093031,USA,3350.0,2945.0,420,34718,1926,2880,28,2025-05-30 18:51:33.149267,False,German,Mobile,Creator,34.27,True,Active
8,9,14.0,M,2019-04-08 18:51:33.093037,India,987.0,623.0,458,36146,1917,4778,22,2025-01-08 18:51:33.149272,True,French,Tablet,Creator,43.66,False,Active
9,10,150.0,Other,2021-05-25 18:51:33.093044,Germany,625425.0,544.0,125,43512,5266,993,90,2025-06-25 18:51:33.149278,False,German,Tablet,Personal,11.81,False,Active

### Find the number of rows and columns.

In [3]:
df.shape

(10500, 20)

### Get dataset information.

In [4]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 10500 entries, 0 to 10499
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user_id               10500 non-null  int64
 1   age                   9328 non-null   float64
 2   gender                9737 non-null   object
 3   account_created       10500 non-null  object
 4   country               9771 non-null   object
 5   num_friends           9005 non-null   float64
 6   num_followers         9307 non-null   float64
 7   posts_count           10500 non-null  int64
 8   likes_received        10500 non-null  int64
 9   comments_received     10500 non-null  int64
 10  shares_count          10500 non-null  int64
 11  profile_completeness  10500 non-null  int64
 12  last_login            9857 non-null   object
 13  is_verified           10500 non-null  bool
 14  language              9842 non-null   object
 15  device_type           10500 non-null  object
 16  account_type          10500 non-null  object
 17  engagement_rate       10500 non-null  float64
 18  monthly_active        10500 non-null  bool
 19  status                10500 non-null  object
dtypes: bool(2), float64(4), int64(6), object(8)
memory usage: 1.5+ MB

,user_id,age,num_friends,num_followers,posts_count,likes_received,comments_received,shares_count,profile_completeness,engagement_rate
count,10500.000000,9328.000000,9005.000000,9307.000000,10500.000000,10500.000000,10500.000000,10500.000000,10500.000000,10500.000000
mean,5000.172095,55.827080,11893.586119,4971.819491,152.336190,24681.954286,5049.317810,2976.524667,61.382381,53.781042
std,2888.398566,98.257878,78619.575417,2871.141504,698.634077,14523.561233,2911.228744,4082.855565,32.644243,44.963538
min,1.000000,-50.000000,0.000000,0.000000,-5000.000000,1.000000,0.000000,0.000000,-50.000000,0.020000
25%,2501.750000,29.000000,1302.000000,2489.000000,112.000000,12101.250000,2518.750000,1281.750000,39.000000,25.027500
50%,5000.500000,46.000000,2561.000000,4974.000000,242.000000,24567.500000,5092.500000,2575.500000,60.000000,50.010000
75%,7499.250000,64.000000,3817.000000,7461.000000,369.000000,37199.500000,7589.250000,3824.250000,81.000000,76.132500
max,10000.000000,999.000000,996201.000000,9999.000000,499.000000,49998.000000,9999.000000,49927.000000,200.000000,497.024012

### Identify data types of each column.

In [5]:
df.dtypes

user_id                   int64
age                     float64
gender                   object
account_created          object
country                  object
num_friends             float64
num_followers           float64
posts_count               int64
likes_received            int64
comments_received         int64
shares_count              int64
profile_completeness      int64
last_login               object
is_verified                bool
language                 object
device_type              object
account_type             object
engagement_rate         float64
monthly_active             bool
status                   object
dtype: object

### Check for missing values in each column and calculate their percentage.

In [6]:
missing_values=(df.isnull().sum()/len(df))*100
print(missing_values)

user_id                  0.000000
age                     11.161905
gender                   7.266667
account_created          0.000000
country                  6.942857
num_friends             14.238095
num_followers           11.361905
posts_count              0.000000
likes_received           0.000000
comments_received        0.000000
shares_count             0.000000
profile_completeness     0.000000
last_login               6.123810
is_verified              0.000000
language                 6.266667
device_type              0.000000
account_type             0.000000
engagement_rate          0.000000
monthly_active           0.000000
status                   0.000000
dtype: float64

### Remove unnecessary columns.

In [11]:
data=df.drop(['status','language','device_type'],axis=1)

### Count how many duplicate rows exist.

In [31]:
data.duplicated().sum()

np.int64(211)

### Remove duplicate rows.

In [32]:
data.drop_duplicates().inplace=True
data

,user_id,age,gender,account_created,country,num_friends,num_followers,posts_count,likes_received,comments_received,shares_count,profile_completeness,last_login,is_verified,account_type,engagement_rate,monthly_active
0,1,64.0,F,2023-06-06 18:51:33.092925,Canada,1321.0,7825.0,359,43116,48,4090,50,2025-03-03 18:51:33.149208,True,Business,37.63,True
1,2,27.0,Other,2023-09-28 18:51:33.092970,Canada,2023.0,142.0,336,44869,1494,2741,78,2025-08-11 18:51:33.149229,False,Creator,74.51,True
2,3,73.0,F,2018-11-10 18:51:33.092983,Canada,4731.0,9315.0,440,34858,9365,3251,66,2024-10-28 18:51:33.149237,False,Business,48.11,True
3,4,33.0,F,2019-10-24 18:51:33.092992,###,4512.0,NaN,314,43832,6467,21,25,2025-05-17 18:51:33.149243,True,Personal,45.80,True
4,5,36.0,M,2025-06-19 18:51:33.093001,###,438.0,NaN,93,26981,9542,514,51,2025-09-23 18:51:33.149249,False,Creator,35.85,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10495,9233,13.0,F,2022-06-15 18:51:33.144018,India,4463.0,6800.0,209,47956,6720,1380,83,2025-02-23 18:51:33.198955,False,personal,97.99,True
10496,7017,32.0,M,2022-10-06 18:51:33.132302,Germany,3872.0,NaN,179,35216,1293,192,84,2025-10-07 18:51:33.186879,False,personal,42.89,True
10497,2237,27.0,F,2018-05-18 18:51:33.106568,Canada,NaN,2489.0,144,31507,3349,4919,68,NaN,False,Business,14.59,True
10498,9396,62.0,Other,2019-01-05 18:51:33.144889,Canada,2789.0,9674.0,60,20820,8597,2945,66,2024-10-26 18:51:33.199840,False,Business,25.00,False
10499,1520,71.0,F,2024-12-18 18:51:33.102431,Germany,1072.0,649.0,108,45910,6999,3982,99,2025-05-03 18:51:33.157605,False,Creator,0.50,True

### Handle missing values:

Fill numerical columns with mean/median.

Fill categorical columns with mode or “Unknown”.

In [23]:
data['gender'].fillna(data['gender'].mode()[0],inplace=True)
data

,user_id,age,gender,account_created,country,num_friends,num_followers,posts_count,likes_received,comments_received,shares_count,profile_completeness,last_login,is_verified,account_type,engagement_rate,monthly_active
0,1,64.0,F,2023-06-06 18:51:33.092925,Canada,1321.0,7825.0,359,43116,48,4090,50,2025-03-03 18:51:33.149208,True,Business,37.63,True
1,2,27.0,Other,2023-09-28 18:51:33.092970,Canada,2023.0,142.0,336,44869,1494,2741,78,2025-08-11 18:51:33.149229,False,Creator,74.51,True
2,3,73.0,F,2018-11-10 18:51:33.092983,Canada,4731.0,9315.0,440,34858,9365,3251,66,2024-10-28 18:51:33.149237,False,Business,48.11,True
3,4,33.0,F,2019-10-24 18:51:33.092992,###,4512.0,NaN,314,43832,6467,21,25,2025-05-17 18:51:33.149243,True,Personal,45.80,True
4,5,36.0,M,2025-06-19 18:51:33.093001,###,438.0,NaN,93,26981,9542,514,51,2025-09-23 18:51:33.149249,False,Creator,35.85,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10495,9233,13.0,F,2022-06-15 18:51:33.144018,India,4463.0,6800.0,209,47956,6720,1380,83,2025-02-23 18:51:33.198955,False,personal,97.99,True
10496,7017,32.0,M,2022-10-06 18:51:33.132302,Germany,3872.0,NaN,179,35216,1293,192,84,2025-10-07 18:51:33.186879,False,personal,42.89,True
10497,2237,27.0,F,2018-05-18 18:51:33.106568,Canada,NaN,2489.0,144,31507,3349,4919,68,NaN,False,Business,14.59,True
10498,9396,62.0,Other,2019-01-05 18:51:33.144889,Canada,2789.0,9674.0,60,20820,8597,2945,66,2024-10-26 18:51:33.199840,False,Business,25.00,False
10499,1520,71.0,F,2024-12-18 18:51:33.102431,Germany,1072.0,649.0,108,45910,6999,3982,99,2025-05-03 18:51:33.157605,False,Creator,0.50,True

In [33]:
data['country'].replace(['###','','NaN'],np.nan)

0          Canada
1          Canada
2        Canada
3             NaN
4             NaN
           ...
10495       India
10496     Germany
10497      Canada
10498      Canada
10499     Germany
Name: country, Length: 10500, dtype: object

In [36]:
data['country'] = data['country'].astype(str).str.strip().str.title()
data

,user_id,age,gender,account_created,country,num_friends,num_followers,posts_count,likes_received,comments_received,shares_count,profile_completeness,last_login,is_verified,account_type,engagement_rate,monthly_active
0,1,64.0,F,2023-06-06 18:51:33.092925,Canada,1321.0,7825.0,359,43116,48,4090,50,2025-03-03 18:51:33.149208,True,Business,37.63,True
1,2,27.0,Other,2023-09-28 18:51:33.092970,Canada,2023.0,142.0,336,44869,1494,2741,78,2025-08-11 18:51:33.149229,False,Creator,74.51,True
2,3,73.0,F,2018-11-10 18:51:33.092983,Canada,4731.0,9315.0,440,34858,9365,3251,66,2024-10-28 18:51:33.149237,False,Business,48.11,True
3,4,33.0,F,2019-10-24 18:51:33.092992,###,4512.0,NaN,314,43832,6467,21,25,2025-05-17 18:51:33.149243,True,Personal,45.80,True
4,5,36.0,M,2025-06-19 18:51:33.093001,###,438.0,NaN,93,26981,9542,514,51,2025-09-23 18:51:33.149249,False,Creator,35.85,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10495,9233,13.0,F,2022-06-15 18:51:33.144018,India,4463.0,6800.0,209,47956,6720,1380,83,2025-02-23 18:51:33.198955,False,personal,97.99,True
10496,7017,32.0,M,2022-10-06 18:51:33.132302,Germany,3872.0,NaN,179,35216,1293,192,84,2025-10-07 18:51:33.186879,False,personal,42.89,True
10497,2237,27.0,F,2018-05-18 18:51:33.106568,Canada,NaN,2489.0,144,31507,3349,4919,68,NaN,False,Business,14.59,True
10498,9396,62.0,Other,2019-01-05 18:51:33.144889,Canada,2789.0,9674.0,60,20820,8597,2945,66,2024-10-26 18:51:33.199840,False,Business,25.00,False
10499,1520,71.0,F,2024-12-18 18:51:33.102431,Germany,1072.0,649.0,108,45910,6999,3982,99,2025-05-03 18:51:33.157605,False,Creator,0.50,True

In [37]:
data['country'].fillna(data['country'].mode()[0],inplace=True)
data

C:\Users\Gandharvi\AppData\Local\Temp\ipykernel_9692\2177834455.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['country'].fillna(data['country'].mode()[0],inplace=True)

,user_id,age,gender,account_created,country,num_friends,num_followers,posts_count,likes_received,comments_received,shares_count,profile_completeness,last_login,is_verified,account_type,engagement_rate,monthly_active
0,1,64.0,F,2023-06-06 18:51:33.092925,Canada,1321.0,7825.0,359,43116,48,4090,50,2025-03-03 18:51:33.149208,True,Business,37.63,True
1,2,27.0,Other,2023-09-28 18:51:33.092970,Canada,2023.0,142.0,336,44869,1494,2741,78,2025-08-11 18:51:33.149229,False,Creator,74.51,True
2,3,73.0,F,2018-11-10 18:51:33.092983,Canada,4731.0,9315.0,440,34858,9365,3251,66,2024-10-28 18:51:33.149237,False,Business,48.11,True
3,4,33.0,F,2019-10-24 18:51:33.092992,###,4512.0,NaN,314,43832,6467,21,25,2025-05-17 18:51:33.149243,True,Personal,45.80,True
4,5,36.0,M,2025-06-19 18:51:33.093001,###,438.0,NaN,93,26981,9542,514,51,2025-09-23 18:51:33.149249,False,Creator,35.85,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10495,9233,13.0,F,2022-06-15 18:51:33.144018,India,4463.0,6800.0,209,47956,6720,1380,83,2025-02-23 18:51:33.198955,False,personal,97.99,True
10496,7017,32.0,M,2022-10-06 18:51:33.132302,Germany,3872.0,NaN,179,35216,1293,192,84,2025-10-07 18:51:33.186879,False,personal,42.89,True
10497,2237,27.0,F,2018-05-18 18:51:33.106568,Canada,NaN,2489.0,144,31507,3349,4919,68,NaN,False,Business,14.59,True
10498,9396,62.0,Other,2019-01-05 18:51:33.144889,Canada,2789.0,9674.0,60,20820,8597,2945,66,2024-10-26 18:51:33.199840,False,Business,25.00,False
10499,1520,71.0,F,2024-12-18 18:51:33.102431,Germany,1072.0,649.0,108,45910,6999,3982,99,2025-05-03 18:51:33.157605,False,Creator,0.50,True

### Detect and correct typos in categorical columns (e.g., “male”, “Male”, “MALE”).

### Standardize inconsistent formats (e.g., date format, country names).

### Ensure all country names are consistent (use .str.title() or mapping).